*{
    margin: 0;
    padding: 0;
    transition: 0.8s;
}


a{
    text-decoration: none;
}
.top{
    color: rgb(0, 255, 64);
    font-family: Old English Text MT;
    text-shadow: 0 0 10px;
}

header{
    padding: 30px;
    position: fixed;
    z-index: 1;
    width:95% ;
    background-color: rgba(0, 0, 0, 0);
}

#logo{
    display: inline;
    font-family: 'great vibes';
    font-size: 30px;
    font-weight: 900;
    margin-left: 30px;
    float: left;
    color: rgb(0, 175, 250);
    text-shadow: -1px 1px 2px ;

}

#hamburger_menu{
    float: right;
    margin-right: 40px;
    width: 60px;
}
.menu{
    width: 100%;
    scale: 2;
}

nav{
    width: 100%;
    position: fixed;
    background-color: rgba(45, 204, 201, 0);
    z-index: 1;
    top: 96px;
    transition: 0.2s;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(0px 0px 10px rgb(0, 255, 17));
}
nav ul li{
    list-style: none;
   
}
.links{
    margin: 10px;
    width: 100vh;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex !important;
    color: aliceblue;
    background-color: rgba(13, 255, 65, 0.871);
    border-radius: 20px;
    font-size: 27px;
}
section{
    width: 100%;
    height: 100vh;
    position:relative;
    background:linear-gradient(#1f242d,#2b313d);
}
section img{
    width: 350px;
    float: right;
    margin-top: 100px;
    margin-right: 200px;
    display: inline;
    transform: translateY(100px);
    background-color: rgb(13, 255, 65);
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    animation: bounce 10s linear infinite;
    box-shadow: 0 0 10px rgb(13, 255, 65),0 0 20px rgba(13, 255, 65, 0.632),0 0 30px rgba(13, 255, 65, 0.297);
}
section img:hover{
    border-top-right-radius:120px;
    border-bottom-left-radius: 120px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

 #naming{
    margin-top: 250px;
    margin-left: 200px;
    display: inline-block;
    float: left;
    font-family: 'Pacifico' ;
    text-shadow: 0px 0px 10px;
    color: aliceblue;
    z-index: 2;
}
#hi{
    font-size: 20px;
    color: azure;
}
#im{
    font-size: 45px;
    color: rgb(28, 189, 68);
    text-shadow: 0px 0px 10px;
}
#prof::after{
    content: "";
    font-size: 38px;
    color: rgb(47, 97, 233);
    animation: change 10s linear infinite;
}
#joh{
    color: rgb(0, 255, 64);
    animation: al;
}

#bio{
    position: relative;
    padding: 20px;
    height: 100vh;
    background:linear-gradient(0deg,#1f242d,#2b313d);
    position: relative;
}
#bio p{
    width: 750px;
    float: right;
    margin-right: 100px;
    font-family: algerian ;
    margin-top: 190px;
    color: aliceblue;
    font-size: 17px;
}
#bio button{
    position: relative;
    width: 270px;
    height: 70px;
    background-color: rgb(13, 255, 65);
    border-radius: 30px;
    font-size: 22px;
    font-family: algerian;
    font-weight: 800;
    color: #2b313d;
    margin-top: 40px;
    border:none;
    animation: clk 4s linear infinite;
    box-shadow: 0 0 20px rgb(13, 255, 65),0 0 40px rgba(13, 255, 65, 0.632),0 0 80px rgba(13, 255, 65, 0.368);
}
#bio button:hover{
    color: rgb(13, 255, 65);
    background-color: #2b313d;
    animation-play-state: paused;
}

#bio img{
    float: left;
    width: 350px;
    border-radius: 100%;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 5%;
}

#services{
    padding: auto;
    width: 100%;
    background:linear-gradient(0deg,rgb(43, 43, 49),#1f242d); 
    text-align: justify;
    position: relative;
}

#contain h2{
    font-size: 45px;
    font-family: Old English Text MT;
    font-weight: 300;
    color: rgb(0, 255, 64);
    display: block;
    text-shadow: 0 0 10px;
    margin-bottom: 40px;
}

.service{
    color: aliceblue;
    display: inline-block;
    margin: 30px;
    width: 250px;
    background:linear-gradient(180deg,rgb(63, 63, 74),#222a37); 
    border-radius: 10%;
    padding: 40px 20px;
    font-family: 'Major Mono Display';
    font-weight: 900;
    box-shadow: 0 0 20px rgb(255, 255, 255);

}
.service:hover{
    color: rgb(13, 54, 175);
    box-shadow: 0 0 20px rgb(51, 255, 0);
    scale: 0.9;
    background: rgb(125, 125, 125);
}
.service:hover .icon{
    fill: #1c2430;
}
.colo{
    color:rgb(0, 255, 64) ;
    text-shadow: 0 0 10px rgb(13, 255, 65),0 0 20px rgba(13, 255, 65, 0.632),0 0 30px rgba(13, 255, 65, 0.297);

}
.icon{
    width: 100px;
    fill: white;
    transition: 0.2s;
}
#skills{
    padding: 10px;
    background:linear-gradient(90deg,rgb(48, 48, 55),#1c2430);
}

.prog , .tofr{
    width: 40%;
    display: inline-block;
}
#skills h2{
    color:rgb(0, 255, 64);
    font-size: 35px;
    font-weight: 800;
    margin: 40px;
}
#skills h3{
    font-size: 45px;
    font-family:'Monotype Corsiva';
    font-weight: 300;
    color: rgb(0, 255, 255);
}
#skills label{
    color:rgb(0, 255, 64);
    font-size: 25px;
}
.skival{
    width: 90%;
    height: 30px;
    accent-color:rgb(0, 255, 64);
    text-shadow: 0 2px 10px rgb(0, 255, 64);
}
.certification{
    align-items: center;
    align-self: justify;
    justify-content: center;
    padding: 10px;
}
.cert{
    margin: 20px;
    display: inline-block;
    width: 250px;
    padding: 15px;
    height: 250px;
    border-radius: 30px;
    font-size: 35px;
    color: rgba(0, 68, 255, 0);
    text-shadow: 0 0 20px;
}
.cert:hover{
    scale: 1.1;
    color: rgb(9, 255, 9);
}
.AASTU{
    background: url(aastu.png);
    background-size: cover;
}

.hult{
    background: url(hu.png);
    background-size: cover;
}

.slHTML{
    
    background: url(html.jpg);
    background-size: cover;
}
.slCSS{
    background: url(css.jpg);
    background-size: cover;
}
.sljs{
    background: url(js.jpg);
    background-size: cover;
}
.slja{
    background: url(java.jpg);
    background-size: cover;
}
.slcm{
    background: url(cm.jpg);
    background-size: cover;
}
.slfwd{
    background: url(fwd.jpg);
    background-size: cover;
}
.slpyth{
    background: url(pyth.jpg);
    background-size: cover;
}
.sljq{
    background: url(jq.jpg);
    background-size: cover;
}
.slCp{
    background: url(rwd.jpg);
    background-size: cover;
}
.transcript{
    display: inline-block;
    background-color: rgb(0, 255, 42);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    color: #1c2430;
    font-weight: 700;
    font-family: 'Britannic';
    box-shadow: 0 0 10px rgb(0, 255, 42);
}
.transcript:hover{
    background-color: #1c2430;
    color: #fff;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 40px;
}
#contact_me{
    background-color:#2b313d;
    background-size: 100%;
    padding: 50px;
}
form{
    width: 80%;
    margin: auto;
    border: 2px solid rgb(0, 255, 42);
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 255, 42);
    background: transparent;
    position: relative;
}
#frmcntn{
    margin-top: 30px;
}
#frmcntn h3{
    color: #fff;
    margin: 20px;
    font-size: 30px;
    font-family: Britannic;
}
input ,textarea{
    width: 90%;
    padding: 10px;
    outline: 0;
    border: 2px solid rgb(0, 255, 42);
    font-size: 20;
    background: transparent;
    margin: 20px;
    background-color: rgb(0, 255, 42);
}
#name , #number{
    width: 42%;
}
#sub{
    font-size: xx-large;
    background-color:rgb(80, 112, 86);
    color: #fff;
}

.ic{
    position: relative;
    width: 70px;
    margin: 20px;
    animation: bounce 10s linear infinite;
}
.link{
    animation-delay:0.25s;
}
.blo{
    animation-delay: 0.5s;
}
.git{
    animation-delay: 0.75s ;
}
#portfolio{
    position: relative;
    background: linear-gradient(75deg,#1c2430,#3d4451,#363c46,#222a37);

}
#portfolio div{
    display: inline-block;
    margin: 30px;
    width: 300px;
    height: 250px;
    color:rgb(0, 255, 17);
    background: url(GitHub.png);
    background-size: cover;
    border-radius: 30px;
    padding: 30px;
}
#portfolio h2{
    font-size: 45px;
    font-family: Old English Text MT;
    font-weight: 300;
    color: rgb(0, 255, 64);
}

footer{
    color: white;
    padding: 20px;
    background: linear-gradient(#1c2430,#5c6068,#414857,#222a37);
}

@media only screen and (max-width: 1300px) {
    .links{
        width: 350px;;
    }
    section{
        height: 600px;
        background:linear-gradient(#1f242d,#2b313d);
    }

    section img{
        width:250px;
        margin-right:10%;
        display: block;
    }
    #naming{
        margin-left: 8%;
        z-index: 2;
    }
    #bio{
        height: fit-content;
    }
    #bio img{
        align-content: center;
        width: 350px;
        margin: 0 auto;
        margin-left: 5%;
        margin-right:5% ;
    }
    #bio p{
        width: fit-content;
        float: none;
        margin-top: 0px;
        margin-right: 3%;
        margin-left: 3%;
        text-align: justify;
    }

  }
  
  @media (max-width: 700px) {
    section{
        height: 600px;
    }
    section img{
        transform: translateY(-30px);
    }

    #naming{
        margin-top: 0px;
    }
    .prog , .tofr{
        width: 100%;
        display:block;
    }
  #portfolio div, #bio img ,.service ,.cert{
        width: 60%;
    }
}
  
  @keyframes bounce {
    0%{
        transform: translateY(30px);

    }
    25%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(30px);
        
    }
    75%{
        transform: translateY(-30px);
        
    }
    100%{
        transform: translateY(30px);
        
    }
    
  }
  @keyframes change {

    0% {
      content: "web designer";
    }
    33.3% {
      content: "web developer";
    }
    66.6% {
      content: "database designer";
    }
    100% {
      content: "database developer";
    }
}

@keyframes clk {
    0%{
        border-radius: 0;
        transform: translateY(-15px);
    }
    
    50%{
        border-radius: 60px;
        transform: translateY(0px);
    }
    
    100%{
        border-radius: 0;
        transform: translateY(-15px);
    }
    
}
